extends ../node_modules/jade-bootstrap/_bootstrap
block body
  +navbar("Colenso", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/list") List
    +nav_item("/search") Search
  .container
    h1 #{title}
    .container
    p| Welcome to #{title}. We have an excellent collection of xml files in stock for you.
      | We are based in #{place}.
