//
   Created by Chris Tofts on 14/03/2016.
extends layout
block body
    +navbar("Colenso", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/list", "active") List
        +nav_item("/search") Search
    .container
        .panel.panel-defaault
            .panel-heading XML List
                .list-group
                    ul
                        each val in list
                            a.list-group-item( href = "list/files/" + val) #{val.split("/").pop()}


