//
   Created by Chris Tofts on 16/03/2016.
extends layout
block body
    +navbar("Colenso", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/list", "active") List
        +nav_item("/search") Search

    +tab-list(["Text", "Xquery"],0)
        +tab("Text","active")
            h1= "Text"
            form( action= "/search/text", method="get")
                div.input
                    span.label Title
                    input(type="text", name="title", value = '#{title}')
                div.actions
                    input(type="submit", value="Search")

            p #{result}

        +tab("Xquery")
                h1= "Xquery"
                form( action= "/search/xquery", method="get")
                    div.input
                        span.label Title
                        input(type="text", name="text", value = '#{title}')
                    div.actions
                        input(type="submit", value="Search")



    p #{result}
