

extends layout
block body
    +navbar("Colenso", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/list") List
        +nav_item("/search", "active") Search

    +tab-list(["Text", "Xquery"],0)
        +tab("Text","active")
            h1= "Text"
            form( action= "/search/text", method="get")
                div.input
                    span.label Title
                    input(type="text", name="title", value = '#{title}')
                div.actions
                    input(type="submit", value="Search")


        +tab("Xquery")
            +tab("Home","active")
                h1= "Xquery"
                form( action= "/search/xquery", method="get")
                    div.input
                        span.label Title
                        input(type="text", name="text", value = '#{title}')
                    div.actions
                        input(type="submit", value="Search")




        .container
            .panel.panel-defaault
                .panel-heading Results
                    .list-group
                        ul
                            if result == ""
                                p| #{reply}
                            else
                                each val in result
                                    a.list-group-item(href = "/search/text/xmlFile/" + val.substring(val.indexOf("<title>") + 7, val.indexOf("</title>"))) #{val.substring(val.indexOf("<title>") + 7, val.indexOf("</title>"))}





