//
   Created by Chris Tofts on 21/03/2016.
extends ../node_modules/jade-bootstrap/_bootstrap
block body
    +navbar("Colenso", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/list", "active") List
        +nav_item("/search") Search
    +a-btn-success("/download/" + title + "") Download
    +tab-list(["XML", "Normal"],0)
        +tab("XML","active")

            h1 #{title}
            .container
                pre|  #{result}
        +tab("Normal")
            .container
                h1 #{title}
                .container
                    p !{result}
